<ion-header>
  <ion-navbar class="auth-header"> 
    <ion-title>
      <ion-grid text-center>
        <ion-row>
          <ion-col col-12 text-center>
            <img src="assets/imgs/login-title.jpeg" class="auth-header-log"/>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="item-bg-color">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-label text-center><h3><strong>Login</strong></h3></ion-label>
      </ion-col>
    </ion-row>
    <form [formGroup]="loginForm">
      <ion-row>
        <ion-col col-12 col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-8 offset-xs-2>
          <ion-label class="label_name">Username</ion-label>  
          <ion-item>
            <ion-input type="text" [(ngModel)]="data.username" formControlName="username" [class.invalid]="!loginForm.controls.username.valid && 
             (loginForm.controls.username.dirty)"></ion-input>
            <button class="tooltip tooltip-btn" clear item-right>
              <img class="tooltip tooltip-img" src="assets/imgs/help_outline.svg">
               <span class="tooltiptext">Enter Username</span>
            </button>
          </ion-item>
          <ng-container *ngIf="loginForm.controls.username.hasError('required') && (loginForm.controls.username.touched); then userNameReq"></ng-container>
          <ng-template #userNameReq>
            <div class="req-lbl">* Username is required!</div>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-8 offset-xs-2>
          <ion-label class="label_name">Password</ion-label>  
          <ion-item>
            <ion-input type="password" [(ngModel)]="data.password" formControlName="password" [class.invalid]="!loginForm.controls.password.valid && 
             (loginForm.controls.password.dirty)"></ion-input>
            <button class="tooltip tooltip-btn" clear item-right>
              <img class="tooltip tooltip-img" src="assets/imgs/help_outline.svg">
               <span class="tooltiptext">Enter Password</span>
            </button>
          </ion-item>
          <ng-container *ngIf="loginForm.controls.password.hasError('required') && (loginForm.controls.password.touched); then passwordReq"></ng-container>
          <ng-template #passwordReq>
            <div class="req-lbl">* Password is required!</div>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center padding-top>
          <button ion-button color="secondary" [disabled]="!loginForm.valid" (click)="onLogin(loginForm.value);" type="submit" round>Login</button>
       </ion-col>
     </ion-row>
    </form>
  </ion-grid>
</ion-content>