<ion-content class="bg-image">
  <ion-grid>
    <ion-row class="auth-logo-rw">
      <ion-col col-12 text-center col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-8 offset-xs-2>        
        <img src="assets/imgs/SmartVisitorLog_Logo.png" class="auth-log"/>      
      </ion-col>
    </ion-row>
    <form [formGroup]="loginForm">
      <ion-row class="form-auth-rw-unm">
        <ion-col col-12 col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-8 offset-xs-2>
          <ion-item no-lines>
            <ion-label item-left>
              <ion-icon name="person" class="input-logo-icon"></ion-icon>
            </ion-label>
            <ion-input text-left autocomplete="on" autocorrect="on" type="text" class="pswdfield" placeholder= "User Name" no-lines [(ngModel)]="data.username" formControlName="username" [class.invalid]="!loginForm.controls.username.valid && 
            (loginForm.controls.username.dirty)"></ion-input>
          </ion-item>
          <ng-container *ngIf="loginForm.controls.username.hasError('required') && (loginForm.controls.username.touched); then userNameReq"></ng-container>
          <ng-template #userNameReq>
            <div class="req-lbl"><strong>* User Name is required!</strong></div>
          </ng-template>
        </ion-col>
      </ion-row>      
      <ion-row class="form-auth-rw-pwd">
        <ion-col col-12 col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-8 offset-xs-2>
          <ion-item no-lines>
            <ion-label item-left>
              <ion-icon  name="key" class="input-logo-icon"></ion-icon>
            </ion-label>
            <ion-input text-left autocomplete="on" autocorrect="on" type="password" class="pswdfield" placeholder= "Password" no-lines [(ngModel)]="data.password" formControlName="password" [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty)"></ion-input>
            </ion-item>
          <ng-container *ngIf="loginForm.controls.password.hasError('required') && (loginForm.controls.password.touched); then passwordReq"></ng-container>
          <ng-template #passwordReq>
            <div class="req-lbl"><strong>* Password is required!</strong></div>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-8 offset-xs-2>
          <div class="req-lbl" [innerHTML]="errorMsg"></div>
        </ion-col>
     </ion-row>
      <ion-row>
        <ion-col col-12 text-center col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-8 offset-xs-2>
          <button ion-button color="secondary" [disabled]="!loginForm.valid" (click)="onLogin(loginForm.value);" type="submit" class="log-reg-btn log-btn">Sign in</button>
          <button margin-left ion-button color="secondary" (click)="onRegister();" type="submit" class="log-reg-btn reg-btn">Register</button>
       </ion-col>
     </ion-row>
     <ion-row>
      <ion-col class="col-powered-logo-img" col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12>
        <ion-img class="powered-logo-img" src="assets/imgs/sfs-transp.png"></ion-img>
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
</ion-content>