page-authentication {

    .tooltip {        
        position: relative;
        display: inline-block;    
   }

   .tooltip-img {        
    width:20px;
    height:20px;
   }

   .tooltip-btn{
    background-color: transparent;
    margin:0px;
   }

   .tooltip .tooltiptext {
       visibility: hidden;
       width: 130px;
       background-color:#555;
       color: #fff;
       font-size: 11px;
       text-align: center;
       border-radius: 6px;
       padding: 5px 0;
       position: absolute;
       z-index: 1;
       top: -5px;
       right: 110%;
   }
    
   .tooltip .tooltiptext::after {
       content: "";
       position: absolute;
       top: 50%;
       left: 100%;
       margin-top: -5px;
       border-width: 5px;
       border-style: solid;
       border-color: transparent transparent transparent #555;
   }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .item-cover {	
        width:85%;
    }

    .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
        border-radius: 8px;
        font-size:1.8rem;        
    }

    .item-block {           
        border-radius:8px;            
        min-height:0px;
        height:38px;       
    }

    .label_name{
        color:#444444;
   }
   
   .bg-image{
        background-image: url("../assets/imgs/bg-image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #edeef2;
        opacity: 0.8;
   }

   .input-logo-icon{
        color:#4EA600;
        font-size: 1.7rem;
    }

    .log-reg-btn{
        border-radius:7px;
        font-size:1.3rem;        
        text-transform: none;
        opacity: 1 !important;
        min-width: 100px;
        height: 2.5rem;
    }

    .log-btn{        
        color: #FFFFFF;
        background-color:#4EA600;        
    }

    .reg-btn{        
        color: #000000;
        background-color:#FFFFFF;
        font-weight: 500;        
    }

    .button-md, .button-wp, .button-ios {
        height: 3rem;
    }

    a[disabled], button[disabled], [ion-button][disabled] {
        cursor: default;
        opacity: .4 !important;
        pointer-events: none;
    }
    .auth-log{        
        background-size: contain;
        background-position: center;
        // width: 180px;
        height: 170px;        
        resize: both;
        overflow: scroll;
        opacity: 1 !important;
    }
    .auth-logo-rw {
        // padding-top: 70px;
        padding-bottom: 0px;
    }

    .form-auth-rw-unm, .form-auth-rw-pwd {
        opacity: 1 !important;
    }

    .form-auth-rw-unm {
        max-height: 65px;
        min-height: 65px;        
    }

    .form-auth-rw-pwd {
        max-height: 55px; 
        min-height: 55px; 
    }
    .col-powered-logo-img{
        padding-top: 60px; 
        padding-left: 60px;
        text-align: center;
        opacity: 1 !important;
    }
    .powered-logo-img{
        width: 130px;
        height: 30px;
        background: none;
        opacity: 1 !important;
    }
}
