<!--
  Generated template for the SignOutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation. class="sign-out-img-div"
-->
<ion-header>
  <ion-navbar>
    <ion-title><img class="nav-header-logo" src="assets/imgs/Smart-Visitor-Log_Side.png"></ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>          
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="item-bg-color">
  <ion-grid>
    <ion-row>
      <ion-col hideWhen="android,ios" col-lg-4 col-sm-12 col-md-12 col-xs-12>
        <!-- <ion-img class="sign-out-img" src="assets/imgs/sign-out.png"></ion-img> -->
        <ion-row *ngIf="hasSlideimages" class="slide-sign-out">
          <ion-col col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 class="slider-col">
              <ion-slides (ionSlideDidChange)="onSignOutSlideChange()" speed="500" autoplay="2000" centeredSlides="true" loop="true" pager="true" paginationType="bullets">
                <ion-slide *ngFor="let th of thumbsPaths"> 
                    <div class="slide-content slide-content-resol"><img class="object-fit_fill" [src]=th></div>                 
                </ion-slide>                                             
              </ion-slides>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-lg-8 col-sm-12 col-md-12 col-xs-12 padding-horizontal>
        <ion-row>
          <ion-col>
            <ion-label class="font-x-lg font-wt-500">
              Thank's for visiting!
            </ion-label>
            <ion-label text-wrap text-justify>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor insididunt ut labore et dolore magna aliqua.
              Culpa qui officia deserunt mollit anim id est laborum.
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>          
          <ion-col>
            <form [formGroup]="signOutForm">
              <ion-row>
                <ion-col>
                  <h6>Sign out</h6>
                </ion-col>
              </ion-row>
              <ion-row>              
                <ion-col>
                  <ion-item>
                    <select-searchable formControlName="UserList" [(ngModel)]="data.UserList" [items]="users" itemValueField="id" itemTextField="fullName" [canSearch]="true" (onChange)="userSelectChange($event)">
                      <ng-template selectSearchableLabelTemplate>
                        Name
                      </ng-template>
                    </select-searchable>
                  </ion-item>                  
                </ion-col>
              </ion-row>
              <ion-row text-center>
                <ion-col></ion-col>
              </ion-row>
              <ion-row text-center>
                <ion-col>
                  <button ion-button color="danger" outline round (click)="resetForm();">Reset</button>               
                  <button ion-button color="secondary" [disabled]="!signOutForm.valid" (click)="onSubmit(signOutForm.value);" type="submit" outline round>Submit</button>
                </ion-col>
              </ion-row>
            </form>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>