page-home {

    .card { border-radius : 10px; }
    .home-page-header {
        font-size: 26px;
    }
    .logo{
        padding-left: 55px;
    }
    .font-x-lg {
        font-size: x-large;
    }
    .font-lg {
        font-size: large;
    }
    .font-wt-500 {
        font-weight: 500;
    }
    .font-wt-700 {
        font-weight: 700;    
    }
    
    background-image: -moz-linear-gradient( -5deg, rgb(20,52,243) 0%, rgb(61,251,150) 100%);
    background-image: -webkit-linear-gradient( -5deg, rgb(20,52,243) 0%, rgb(61,251,150) 100%);
    background-image: -ms-linear-gradient( -5deg, rgb(20,52,243) 0%, rgb(61,251,150) 100%);

    .home-img {
        max-width: 25% !important;
        display: inline !important;
    }

    .visitor-entry-card-bg {
        background-color: #00e0fd;
    }

    .visitor-exit-card-bg {
        background-color: #00eab6;
    }
    .about-us-card-bg {
        background-color: #58b9ff;
    }
       
    .comp-logo-img {
        min-height: auto;
        height: 100%;
        contain: none;
    }

    .comp-title-pad {
        padding-left:30px;
        text-align:left;
    }
    .comp-title-pad-lbl{
        text-align:left; 
        font-weight: bold;
    }
    .comp-para-lbl{
        padding-top:0px; 
        margin-top: 0px;
    }
    .comp-para-lbl-spn{
        font-size: 16px;
        font-weight: bold;
    }
    .container-left-panel{
        padding-top:0px; 
        margin-top: 0px;
    }

    .comp-title {
        text-align:right;
    }

    .comp-title-img{
        position: relative;
        width: 65px;
        height: 65px;
    }

    /* For following screen resolution */
    @media screen and (max-width: 1200px){
        .comp-title {
            max-width: 30%;
        }
        .comp-title-pad {
            font-size: 14px !important;
        }
        .comp-title-pad-lbl {
            font-size: 14px !important;
        }
    }

    @media screen and (min-width: 1200px){
        .comp-title {
            max-width: 20%;
        }
        .comp-title-pad {
            font-size: 20px !important;
        }
        .comp-title-pad-lbl {
            font-size: 20px !important;
        }

        .home-lft-col{
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }

    .video-container {
        position:relative;
        padding-bottom:70%;
        padding-top:30px;
        height:0;
         overflow:hidden;
    }
    
    .video-container iframe, .video-container object, .video-container embed {
         position:absolute;
         top:0;
         left:0;
         width:100%;
         height:100%;
     }
    
}
