page-home {

    .home-page-header {
        font-size: 26px;
    }

    .logo{
        padding-left: 55px;
    }
    .font-x-lg {
        font-size: x-large;
    }
    .font-lg {
        font-size: large;
    }
    .font-wt-500 {
        font-weight: 500;
    }
    .item-bg-color {
        background-color: #005de4;
    }
    .visitor-entry-card-bg {
        background-color: #00e0fd;
    }
    .visitor-exit-card-bg {
        background-color: #00eab6;
    }
    .about-us-card-bg {
        background-color: #58b9ff;
    }

}
