// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.item-bg-color {
    // background-color: #005de4;
    background-color: #edeef2;        
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

    .visitor-pass-header {
        font-size: 14px;
    }

    .visitor-pass-logo {
        height: 80%;
        width: 85%;
    }

    .visitor-pass-content {
        font-size: 14px;
    }

    .sign-out-img-div{
        display: none;
    }

    .sign-in-bar-code-txt-align {
        text-align: center;
    }
    
    .req-lbl{
        color: #FF0000;
        font-size: 14px;
        margin-top: 2px;
    }
    .about-btn{
        text-align: center;
    }
    .auth-header-log{
        height: 22px; 
        margin-top: 3px;
    }

    .nav-header-logo{
        width: 80px;
    }
}

.auth-header{
    height: 70px;
}
.auth-header .toolbar-background{
    background-color: white !important;
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

    .visitor-pass-header {
        font-size: 14px;
    }

    .visitor-pass-logo {
        height: 65%;
        width: 85%;
    }

    .visitor-pass-content {
        font-size: 14px;
    }

    .sign-out-img-div{
        display: none;
    }

    .sign-in-bar-code-txt-align {
        text-align: center;
    }

    .req-lbl{
        color: #FF0000;
        font-size: 14px;
        margin-top: 2px;
    }
    .about-btn{
        text-align: center;
    }
    .auth-header-log{
        height: 27px; 
        margin-top: 3px;
    }
    .nav-header-logo{
        width: 100px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .visitor-pass-logo {
        height: 65%;
        width: 80%;
    }

    .visitor-pass-content {
        font-size: 14px;
    }

    .sign-out-img-div{
        display: none;
    }

    .sign-in-bar-code-txt-align {
        text-align: center;
    }

    .req-lbl{
        color: #FF0000;
        font-size: 14px;
        margin-top: 2px;
    }
    .about-btn{
        text-align: center;
    }
    .auth-header-log{
        height: 45px; 
        margin-top: 3px;
    }
    .nav-header-logo{
        width: 150px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .visitor-pass-logo {
        height: 65%;
        width: 80%;
    }

    .visitor-pass-content {
        font-size: 14px;
    }

    .sign-out-img-div{
        display: block;
    }

    .sign-in-bar-code-txt-align {
        text-align: left;
    }

    .req-lbl{
        color: #FF0000;
        font-size: 14px;
        margin-top: 2px;
    }
    .about-btn{
        text-align: right;
    }
    .auth-header-log{
        height: 45px; 
        margin-top: 3px;
    }
    .nav-header-logo{
        width: 150px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .visitor-pass-logo {
        height: 65%;
        width: 85%;
    }

    .visitor-pass-content {
        font-size: 14px;
    }

    .sign-out-img-div{
        display: block;
    }

    .sign-in-bar-code-txt-align {
        text-align: left;
    }

    .req-lbl{
        color: #FF0000;
        font-size: 14px;
        margin-top: 2px;
    }
    .about-btn{
        text-align: right;
    }
    .auth-header-log{
        height: 45px; 
        margin-top: 3px;
    }
    .nav-header-logo{
        width: 200px;
    }
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .nav-header-logo{
        width: 200px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}

.nav-header-logo{
    float: center;
}

ion-page.authentication > ion-content{
  background-color: transparent;
}

.loading-md .loading-wrapper, .loading-ios .loading-wrapper, .loading-wp .loading-wrapper{
    border-radius: 0px;
    max-width: 280px;
    max-height: 90%;
    color: rgba(0, 0, 0, 0.5);
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 24px;
}

.toolbar-background {        
    // background-image: -moz-linear-gradient( -5deg, rgb(20,52,243) 0%, rgb(61,251,150) 100%);
    // background-image: -webkit-linear-gradient( -5deg, rgb(20,52,243) 0%, rgb(61,251,150) 100%);
    // background-image: -ms-linear-gradient( -5deg, rgb(20,52,243) 0%, rgb(61,251,150) 100%);
    
    // background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    // background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    // background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    // background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    // background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );

    // background: -moz-linear-gradient(0turn, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    // background: -webkit-linear-gradient(0turn, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    // background: -o-linear-gradient(0turn, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    // background: -ms-linear-gradient(0turn, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    // background: linear-gradient(0turn, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );

    background: linear-gradient(30deg, #bef79b, #ebf8e1, #bef79b);
}