page-visitor-pass-modal {

    .comp-logo-img {
        min-height: auto;
        height: 95%;
        width: 90%;
        contain: none;
    }
    .close-btn {
        font-size: 25px;
    }

    .pass-font {
        font-size: 18px;
    }
}
