<!--
  Generated template for the TermsAndConditionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title text-center>Visitor Policy</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid fixed>
    <ion-row> 
      <ion-col col-lg-12 col-md-12 col-sm-12 col-xs-12>
        <ion-content text-wrap style="height:355px;">
          <div [innerHTML]="termsAndConsition"></div>
        </ion-content>
      </ion-col>
    </ion-row>
    <ion-row padding-top>
      <ion-col col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center>
        <button ion-button class="custom-btn" [disabled]="isAgreeDisabled" [ngStyle]="{'background-color': agreeDefaultButtonBGColor, 'color': agreeBttnText}" color="secondary" (click)="openAgreeModal();" outline round>Agree</button>
        <button ion-button class="custom-btn" [disabled]="isDisagreeDisabled" [ngStyle]="{'background-color': disagreeDefaultButtonBGColor, 'color': disagreeBttnText}" color="danger" (click)="openDisagreeModal();" outline round>Disagree</button>
        <!-- <div class="req-lbl" *ngIf="isAgreeDisagreeRequired">* Please select Agree or Disagree option.</div> -->
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngIf="!isSignatureBoxHidden">
      <ion-col text-center class="digital-signature" col-lg-12 col-md-12 col-sm-12 col-xs-12>
        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col text-center col-12 offset-lg-4 col-lg-4 offset-md-4 col-md-4 col-sm-12 col-xs-12>
        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
        <!-- <button (click)="clearPad()"> -->
          <!-- <ion-icon item-right ios="ios-refresh" md="md-refresh" style="font-size: 26px;"></ion-icon> -->
          <!-- <img class="tooltip" (click)="clearPad()" height="20" width="30" src="assets/imgs/reset.png" /> -->
        <!-- </button> -->
        <button text-center ion-button small class="" color="dark" (click)="clearPad();">Clear signature</button>
        <div class="req-lbl" *ngIf="isSignatureRequired">* Please add your signature here.</div>
      </ion-col>
    </ion-row>
   <ion-row>
      <ion-col text-center col-lg-12 col-md-12 col-sm-12 col-xs-12>
        <button ion-button class="custom-btn" color="default" (click)="submit();" [disabled]="isSubmitDisabled" outline round>Submit</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
