page-terms-and-conditions {

    .custom-btn {
        width:120px;
    }
    .digital-signature {
    }
    .signature-textarea {
        border: 1px solid black;
        border-color: #bababa !important;
        border-radius: 5px;
        height: 20vh;
    }
    // ion-textarea {
    //     &.custom-input {
    //      // font-size: 20px; //sets text font size
    //       ::placeholder {
    //         font-size: 12px; //sets placeholder font size
    //       }
    //     }
    //   }
    
}
